Repository shamilkotta/offpitch_Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc:

{
  "src/**/*.{js,jsx}": ["eslint --max-warnings=0", "prettier -w"],
  "**/*.{json,css,scss,md,webmanifest,yml}": ["prettier -w"]
}

style: format files
  src/utils/otp-verification-email.html
  src/utils/reset-password-email.html
  yarn.lock
Due: none

feat: create 404 error handler
  src/error/ErrorResponse.js
Due: eslint --max-warnings=0, prettier -w

fix: remove upper bound for chrecter counts
  src/middlewares/validations/user/organization.js
  src/middlewares/validations/user/tournament.js
Due: eslint --max-warnings=0, prettier -w

feat: creat apis for tournaments
  src/controllers/userController.js
  src/routes/userRoute.js
Due: eslint --max-warnings=0, prettier -w

chore: package update
  yarn.lock
Due: none

style: format files
  yarn.lock
Due: none

chore: create readme and contribuite page
  CONTRIBUTING.md
  README.md
Due: prettier -w

chore: update readme
  README.md
Due: prettier -w

style: format files
  README.md
Due: prettier -w

chore: update issue link in contributing guidline
  CONTRIBUTING.md
Due: prettier -w

chore: yarn update
  yarn.lock
Due: none

refactor: user controller split
  src/controllers/guestController.js
  src/controllers/tournamentController.js
  src/controllers/userController.js
  src/routes/userRoute.js
Due: eslint --max-warnings=0, prettier -w

feat: remove organization validation and create club validation
  src/middlewares/validations/user/club.js
Due: eslint --max-warnings=0, prettier -w

feat: remove organization field from user schema
  src/models/user.js
Due: eslint --max-warnings=0, prettier -w

feat: remove organization controllers
  src/controllers/userController.js
Due: eslint --max-warnings=0, prettier -w

feat: change organization to club in tournament
  src/controllers/tournamentController.js
Due: eslint --max-warnings=0, prettier -w

feat: remove organization helpers
  src/helpers/user.js
Due: eslint --max-warnings=0, prettier -w

refactor: remove organization routes
  src/routes/userRoute.js
Due: eslint --max-warnings=0, prettier -w

fix: yarn bug fix
  .github/workflows/prettier.yml
  .prettierignore
  yarn.lock
Due: prettier -w

chore: test run
  .github/workflows/prettier.yml
  .prettierignore
  yarn.lock
Due: prettier -w

chore: yarn update
  .github/workflows/prettier.yml
  yarn.lock
Due: prettier -w

chore: test run
  .github/workflows/prettier.yml
Due: prettier -w

style: format files
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
Due: prettier -w

chore: remove console of yarn version
  .github/workflows/prettier.yml
Due: prettier -w

chore: add lock file to prettier ignore
  .prettierignore
Due: none

feat: add role to user schema
  src/controllers/authController.js
  src/models/user.js
Due: eslint --max-warnings=0, prettier -w

feat: add comment field to user schema
  src/models/club.js
Due: eslint --max-warnings=0, prettier -w

feat: user and club status managment
  src/controllers/authController.js
  src/controllers/userController.js
  src/models/organization.js
Due: eslint --max-warnings=0, prettier -w

feat: enable patch method in cors
  src/middlewares/cors.js
Due: eslint --max-warnings=0, prettier -w

refactor: change profile image field name in schema
  src/controllers/authController.js
  src/models/user.js
Due: eslint --max-warnings=0, prettier -w

chore: add multer library
  package.json
  yarn.lock
Due: prettier -w

feat: create and add file handling
  src/middlewares/multer.js
  src/routes/userRoute.js
Due: eslint --max-warnings=0, prettier -w

feat: create new file upload middleware
  src/config/cloudinary.js
  src/controllers/guestController.js
  src/middlewares/processImage.js
Due: eslint --max-warnings=0, prettier -w

feat: create new file upload middleware
  src/middlewares/fileUpload.js
Due: eslint --max-warnings=0, prettier -w

refactor: add cloudinary upload after validation
  src/middlewares/validations/user/club.js
  src/middlewares/validations/user/player.js
  src/middlewares/validations/user/tournament.js
Due: eslint --max-warnings=0, prettier -w

refactor: move helpers from Promise to async
  src/helpers/index.js
  src/helpers/user.js
Due: eslint --max-warnings=0, prettier -w
