Repository shamilkotta/offpitch_Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc:

{
  "src/**/*.{js,jsx}": ["eslint --max-warnings=0", "prettier -w"],
  "**/*.{json,css,scss,md,webmanifest,yml}": ["prettier -w"]
}

feat: create authorization token genrator
  src/helpers/index.js
Due: eslint --max-warnings=0, prettier -w

feat: validation for verify email otp data
  src/middlewares/validations/verifyEmailValidation.js
Due: eslint --max-warnings=0, prettier -w

feat: create email verification route
  src/controllers/index.js
  src/models/user.js
  src/routes/index.js
Due: eslint --max-warnings=0, prettier -w

style: Code prettified in email template
  src/utils/otp-verification-email.html
Due: none

chore: off no-cycle liniting error
  .eslintrc.json
Due: prettier -w

fix: remove exposed token screte
  src/helpers/index.js
Due: eslint --max-warnings=0, prettier -w

chore(release): v0.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

chore: ignore node modules from git
  .gitignore
Due: none

style: format json file
  package.json
Due: prettier -w

chore(release): v0.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

chore: rename auth route
  src/app.js
  src/routes/authRoute.js
Due: eslint --max-warnings=0, prettier -w

chore: sample env setup
  .sample.env
Due: none

ci: change release to manual release
  .github/workflows/release.yml
Due: prettier -w

feat: create refresh token route/controller
  src/controllers/index.js
Due: eslint --max-warnings=0, prettier -w

fix: fix validation error catching bug
  src/middlewares/validations/signupValidation.js
Due: eslint --max-warnings=0, prettier -w

fix: rename auth controller
  src/controllers/authController.js
Due: eslint --max-warnings=0, prettier -w

refactor: change in response messages
  src/controllers/authController.js
Due: eslint --max-warnings=0, prettier -w

refactor: change eamil template path
  src/helpers/index.js
Due: eslint --max-warnings=0, prettier -w

feat: login data validation
  src/middlewares/validations/loginValidation.js
Due: eslint --max-warnings=0, prettier -w

feat: create login route
  src/controllers/authController.js
  src/routes/authRoute.js
Due: eslint --max-warnings=0, prettier -w

refactor: email verificatin token store to db
  src/controllers/authController.js
  src/helpers/index.js
  src/models/verification.js
Due: eslint --max-warnings=0, prettier -w

feat: create resend otp route
  src/controllers/authController.js
  src/routes/authRoute.js
Due: eslint --max-warnings=0, prettier -w

style: format files
  CHANGELOG.md
  package.json
  server.js
  yarn.lock
Due: prettier -w

chore(release): v0.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier -w

refactor: reponse data change
  src/controllers/authController.js
Due: eslint --max-warnings=0, prettier -w
